body {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;

  background-color: #fff;
  border: 3px solid #aaa;
  border-top: none;
  border-left: none;
  padding: 0.5em;
  text-align: left;
  z-index: 1000;
}

#menu a {
  color: #999;
  text-decoration: none;
}

#menu div {
  border-top: 1px solid #aaa;
  display: none;  /* initially hidden */
  margin: 5px auto;
  padding: 5px 0;
}

#status {
  border: 1px solid #ddd;
  font-size: 0.75em;
  margin: 0 auto;
  min-width: 500px;
  padding: 5px;
  text-align: center;
  width: 70%;
}

.command {
  margin-bottom: 1em;
}

.command .header {
  color: #666;
  display: inline;
}

.command .header > a {
  border: 2px solid #ddd;
  border-bottom: none;
  text-decoration: none;
  color: #666;
  padding: 5px;
  padding-bottom: 1px;
}

.command .header > a:hover {
  background-color: #eee;
}

.command .output {
  background-color: #eee;
  border: 2px solid #ddd;
  margin: 0;
  padding: 1em;
}
