body {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
}

#menu {
  position: fixed;
  top: 0;
  right: 0;

  background-color: #fff;
  border: 3px solid #aaa;
  border-top: none;
  border-right: none;
  padding: 0.5em;
  text-align: right;
  z-index: 1000;
}

#menu div {
  border-top: 1px solid #aaa;
  display: none;  /* initially hidden */
  margin: 5px auto;
  padding: 5px 0;
}

#status {
  border: 1px solid #ddd;
  font-size: 0.75em;
  margin: 0 auto;
  min-width: 500px;
  padding: 5px;
  width: 70%;
}

#page {
}

.command {
  margin-bottom: 1em;
}

.command .header {
  border: 2px solid #ddd;
  border-bottom: none;
  color: #666;
  display: inline;
  font-size: 1.25em;
  padding: 5px;
  padding-bottom: 1px;
}

.command .output {
  background-color: #eee;
  border: 2px solid #ddd;
  margin: 0;
  padding: 1em;
}
