<div class="command">
  <a name="<%= @command.id %>"></a>
  <h2 class="header">
    <a href="/command/<%= @command.id %>"><%= @command.name %></a>
  </h2>
  <pre class="output"><%=h @command.output %></pre>
</div>
